.h-95 {
    height: 95vh;
}

.w-95 {
    width: 95vw;
}

.h-90 {
    height: 90vh;
}

.w-90 {
    width: 90vw;
}

.h-85 {
    height: 85vh;
}

.w-85 {
    width: 85vw;
}

.h-80 {
    height: 80vh;
}

.w-80 {
    width: 80vw;
}

.h-75 {
    height: 75vh;
}

.w-75 {
    width: 75vw;
}

.h-70 {
    height: 70vh;
}

.w-70 {
    width: 70vw;
}

.h-65 {
    height: 65vh;
}

.h-60 {
    height: 60vh;
}

.h-55 {
    height: 55vh;
}

.h-50 {
    height: 50vh;
}

.h-45 {
    height: 45vh;
}

.h-40 {
    height: 40vh;
}

.h-35 {
    height: 35vh;
}

.h-30 {
    height: 30vh;
}

.h-25 {
    height: 25vh;
}

.h-20 {
    height: 20vh;
}

.h-15 {
    height: 15vh;
}

.h-10 {
    height: 10vh;
}
