html, body {
    position: relative;
    padding: 0;
    background-color: rgb(255, 252, 253);
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    gap: 0;
}

#root{
    position: relative;
    width: calc(100% - 4.5rem);
    height: calc(100% - 5rem);
    /*display: flex;
    flex-wrap: wrap;*/
    margin-left: 4.5rem;
    margin-top: 5rem;
    overflow-x: auto;
}
.btn-roxo{
    color: white;
    background-color: rgb(198, 60, 244);
    border-color: rgb(198, 60, 244);
    font-weight: 600;
}
.btn-roxo:hover{
    color:  rgb(207, 4, 190);
    background-color: rgb(253, 224, 251);
    border-color: rgb(238, 86, 228);
}
.alert-roxo{
    color:  rgb(207, 4, 190);
    background-color: rgb(253, 224, 251);
    border-color: rgb(238, 86, 228);  
}
@media (max-width: 900px){


    #root{
        margin-left: 3.5rem !important;
        width: calc(100% - 3.5rem) !important;
    }
}
