#header{
    position: fixed;
    top: 0; left: 4.5rem;
    width: calc(100% - 4.5rem);
    height: 5rem;
    background-color: rgb(183, 55, 225);
}
#header h1{
    font-size: 1.5rem;
    font-weight: 900;
}

@media (max-width: 900px){
    #header{
        left: 4rem;
        width: calc(100% - 4rem);
    }
}