/* components/CadastroModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  overflow: auto;
  width: 100dvw;
  height: 100dvh;
}

.modal-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
}



.fechar {
  margin-top: 1rem;
}

@media (max-width: 900px){
  .modal-overlay{
    justify-content: start;
    align-items: start;
  }
}
