@import "tailwindcss";

/* Custom Dropdown Styles */
.custom-dropdown-filter {
  width: 260px !important;
  min-width: 260px !important;
}

.profile-trigger {
  cursor: pointer;
}

.profile-avatar {
  object-fit: cover;
  object-position: center;
  border: 2px solid #eaeaeaa1;
}

.profile-menu {
  min-width: 180px !important;
}

.profile-menu[data-bs-popper] {
  margin-top: -2px !important;
}

.search-input-expand {
  width: 200px;
  transition: width 0.3s ease-in-out;
}

.icon-btn-sm {
  width: 32px;
  height: 32px;
}

/* Pagination Custom Styles */
.pagination-roxo .page-link {
  color: #6f42c1;
  border-color: #dee2e6;
}

.pagination-roxo .page-item.active .page-link {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: white;
}

.pagination-roxo .page-link:hover {
  background-color: #f8f9fa;
  color: #5a32a3;
}

.pagination-roxo .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.25);
}
